* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
}

#header header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background: transparent;
    transition: all ease 0.5s;
}

.black {
    background-color: #000 !important;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

.movieRow--list {
    transition: all ease 0.5s;
}