@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

#header header {
  grid-template-columns: auto 0.85fr auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  #header header {
    grid-template-columns: auto auto;
  }
}

.black {
  background-color: #000 !important;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.css-1k51tf5-MuiTooltip-tooltip {
  background-color: #fff !important;
}

.css-kudwh-MuiTooltip-arrow {
  color: #fff !important
}